{% extends 'base.html' %}
{% block body_content %}
    <h3>Make Custom Query</h3>
    <p>
        <b>STEP 1</b> -> Choose from <em>LEFT</em> list your query criteria.
    </p>
    <p>Note: Ax fields refers Aircrafts(Country, Plane Registration, etc), and Fx fields refers to a single flight for
        an aircraft.</p>
    <p style="font-size: 14px"><em>Query Process:</em> The aircraft<em>(Ax</em>) criteria(if any) are processed first.
        Then it comes to the flight<em>(Fx)</em> criteria.
        <br> <em>Example:</em> If you have chosen plane registration(A3 field) to be "RD-STAT" and last altitude to be
        less
        than 19 000, it will first take all flights for "RD-STAT" plane, then show only those which last altitude is
        less than 19 000. </p>

    <h4>What is what:</h4>
    <ul>
        <li>A1.Country --- a drop-down list ---> select a single country</li>
        <li>A2.Owner --- type-in field ---> Exact owner name must be provided. List of airlines could be found <a
                href="https://en.wikipedia.org/wiki/Lists_of_airlines" target="_blank">here</a>.
        </li>
        <li>A3.Registration --- type-in field ---> A query for a plane registration. Exact registration must be
            provided.
        </li>
        <li>A4.Aircraft Type --- type-in field ---> Must be something related to a plane name. Result will show all
            planes
            which type contains your input
            <em>e.g. "Boeing", "Airbus", "747", "A320", etc.</em></li>
        //todo: Enter all
    </ul>

    <form method="POST" action="{% url 'queries:step_2' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-xs-5">
                <select name="from" id="multiselect" class="form-control" size="8" multiple="multiple">
                    <option value="modescountry">A1.Country</option>
                    <option value="registeredowners">A2.Owner</option>
                    <option value="registration">A3.Registration</option>
                    <option value="atype">A4.Aircraft Type [make|model]</option>
                    <option value="serialno">A5.Serial Number</option>
                    <option value="yearbuilt">A6.Year of Manufacture</option>
                    <option value="starttime">F1:Start Time</option>
                    <option value="endtime">F2:End Time</option>
                    <option value="callsign">F3:Callsign</option>
                    <option value="firstaltitude">F4:First Altitude</option>
                    <option value="lastaltitude">F5:Last Altitude</option>
                    <option value="firstsquawk">F6:First SQUAWK</option>
                    <option value="lastsquawk">F7:Last SQUAWK</option>
                    <option value="hadalert">F8:Had Alert</option>
                    <option value="hademergency">F9:Had Emergency</option>
                </select>
            </div>
            <div class="col-xs-2">
                <button type="button" id="multiselect_rightAll" class="btn btn-block"><i
                        class="glyphicon glyphicon-forward"></i></button>
                <button type="button" id="multiselect_rightSelected" class="btn btn-block"><i
                        class="glyphicon glyphicon-chevron-right"></i></button>
                <button type="button" id="multiselect_leftSelected" class="btn btn-block"><i
                        class="glyphicon glyphicon-chevron-left"></i></button>
                <button type="button" id="multiselect_leftAll" class="btn btn-block"><i
                        class="glyphicon glyphicon-backward"></i></button>
            </div>
            <div class="col-xs-5">
                <select name="to" id="multiselect_to" class="form-control" size="8" multiple="multiple">
                </select>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#multiselect').multiselect({
                    keepOrder: true
                });
            });
        </script>
        <br>
        <input type="submit" value="Next Step:Pick criterias" class="btn btn-default">
    </form>

{% endblock %}